* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;

    &:hover{
        text-decoration: underline;
    }
}

li{
    list-style-type: none;
}

