.service-card {
    height: 65vh;

    &__img {
        height: 85%;
    }

    &__title {
        height: 15%;
        background-color: #222222;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover{
        .service-card__title{
            background-color: #00A5FF;
            cursor: pointer;
        }
    }
}