* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

body {
  background-color: #333333;
  color: white;
  font-size: 14px;
}

a {
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

.aqua-color {
  color: aqua;
}

.black-color {
  color: black;
}

.box-shadow {
  box-shadow: 13px 14px 11px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 13px 14px 11px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 14px 11px -2px rgba(0, 0, 0, 0.75);
}

.small-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 20vh;
  background-color: #085C88;
}

.small-banner:hover {
  background-color: #00A5FF;
}

.big-banner {
  background-color: #385462;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  width: 100vw;
  height: 60vh;
}

.big-banner .item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.big-banner .item > * {
  margin-bottom: 1rem;
}

.partners-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  background-image: url("../images/partners-bg.jpg");
}

.partners-banner__headings {
  width: 30%;
}

.partners-banner__imgs {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.partners-banner__item > * {
  margin: 1rem;
}

.client-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45vw;
  height: 40vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  opacity: 0.7;
}

.client-card .info {
  width: 25%;
  text-align: center;
}

.client-card .info img {
  border-radius: 50%;
}

.client-card .info img:hover {
  border: 2px solid goldenrod;
}

.client-card .info h4, .client-card .info h5 {
  font-style: italic;
}

.client-card .feedback {
  width: 75%;
}

.client-card .feedback p {
  font-style: italic;
}

.client-card .item > * {
  margin: 0.5rem;
}

.client-card:hover {
  border: 2px solid goldenrod;
}

.contact-card {
  height: 20vh;
  width: 25vw;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
}

.contact-card h4, .contact-card h5 {
  font-style: italic;
}

.project-card {
  height: 65vh;
  width: 20vw;
}

.project-card__img {
  height: 85%;
}

.project-card__title {
  height: 15%;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-card:hover {
  border: 2px solid goldenrod;
  cursor: pointer;
}

.project-card:hover .project-card__title {
  background-color: #00A5FF;
  cursor: pointer;
}

.service-card {
  height: 65vh;
  width: 20vw;
}

.service-card__img {
  height: 85%;
}

.service-card__title {
  height: 15%;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-card:hover .service-card__title {
  background-color: #00A5FF;
  cursor: pointer;
}

.staff-card {
  height: 45vh;
  width: 21vw;
}

.staff-card__info {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
}

.staff-card__info h3 {
  font-style: italic;
}

.staff-card__img {
  height: 85%;
}

.staff-card:hover .staff-card__info {
  background-color: #00A5FF;
  cursor: pointer;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45vw;
  height: 85vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 4rem;
  background-color: #222222;
}

.header__info {
  background-color: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__info .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  background-color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav .heading {
  color: aqua;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list .item {
  margin: 0 0.6rem;
  border-bottom: 2px solid goldenrod;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.5rem;
}

.footer__nav {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #333333;
  padding: 2rem;
}

.footer__nav .item h4 {
  text-align: center;
  margin-bottom: 0.4rem;
}

.footer__nav .item .list {
  border-top: 1px dotted aqua;
  padding: 0.5rem 0;
}

.footer__nav .item .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222222;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin: 1rem;
}

.home__projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin: 1rem;
}

.home__contacts {
  height: 100vh;
  background-image: url("../images/contact-from-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;

}

.home__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.home__contact-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.projects__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  justify-items: center;
}
/*# sourceMappingURL=main.css.map */