.footer{

    &__nav{
       justify-content: space-evenly;
       background-color: #333333;
       padding: 2rem;

       .item{
           h4{
               text-align: center;
               margin-bottom: 0.4rem;
           }
           .list{
               border-top: 1px dotted aqua;
               padding: 0.5rem 0;

               &__item{
                   display: flex;
                   align-items: center;
               }
           }
       }
    }
    &__info{
      justify-content: space-between;
      background-color: #222222;
    }
    &__item{
        display: flex;
        padding: 0.5rem;
        align-items: center;

    }
}